@font-face {
    font-family: larke-neue;
    src: url("resources/Larke-Neue-Regular.ttf");
}

body {
    font-size: 22px;
    font-family: larke-neue, Verdana, sans-serif;
    background-color: #010a01;
    display: flex;
    justify-content: center;
    align-items: center;
}

.neon {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #8508eb,
        0 0 82px #8508eb,
        0 0 92px #8508eb,
        0 0 102px #8508eb,
        0 0 151px #8508eb;
    box-shadow:
        0 0 0.2rem #fff,
        0 0 0.2rem #fff,
        0 0 2rem #8508eb,
        0 0 0.8rem #8508eb,
        0 0 2.8rem #8508eb,
        inset 0 0 1.3rem #8508eb;
    animation: pulsate 1.5s infinite alternate;
}

h1 {
    text-align: center;
    font-size: 3rem;
    border: 0.15rem solid #fff;
    border-radius: 2rem;
    padding: 0.8em;
    /* the font leaves a little extra room under most
    of the letters so we pad the top for balance */
    padding-top: 0.9em;
}

@keyframes pulsate {
    100% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #8508eb,
            0 0 80px #8508eb,
            0 0 90px #8508eb,
            0 0 100px #8508eb,
            0 0 150px #8508eb;
    }

    0% {
        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #8508eb,
            0 0 45px #8508eb,
            0 0 55px #8508eb,
            0 0 70px #8508eb,
            0 0 80px #8508eb;
    }
}

p {
    max-width: 100%;
}

.pcenter {
    text-align: center;
}

.error {
    white-space: pre-wrap;
    color: rgb(233 44 44);
}

.vcontainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#root.vcontainer {
    max-width: 400px;
    width: 400px;
}

.hcontainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

textarea {
    width: 75%;
    height: 350px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 12px 20px;
    resize: none;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 15px;
    color: white;
    opacity: 0.9;
    background: transparent;
}

button {
    background-color: #010a01;
    color: white;
    border: 0.1rem solid;
    width: 120px;
    height: 120px;
    padding: 15px 32px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

button:focus {
    outline: 0;
}

.p {
    background-color: grey;
    color: white;
    border: 1px solid #444;
    width: 15%;
    padding: 15px;
    margin: 30px 10px 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    white-space: pre;
}

.loading-circle {
    position: relative;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 32px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 13rem;
    height: 13rem;
}

.loading-circle::before {
    border: 13px solid hsl(189deg 87% 51%);
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(7px);
    z-index: 0;
}

.result-circle {
    position: relative;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 32px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#p90.result-circle::before {
    border: 13px solid hsl(189deg 87% 51%);
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(12px);
    z-index: 0;
}

#p95.result-circle::before {
    border: 13px solid hsl(189deg 87% 51%);
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(7px);
    z-index: 0;
}

#p99.result-circle::before {
    border: 13px solid hsl(189deg 87% 51%);
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(4px);
    z-index: 0;
}

#p999.result-circle::before {
    border: 13px solid hsl(189deg 87% 51%);
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(2px);
    z-index: 0;
}

.result-circle span {
    color: white;
    position: relative;
    z-index: 1;
}

#p90,
#p95,
#p99,
#p999 {
    width: 13rem;
    height: 13rem;
}

.togglerow {
    margin-top: 60px;
    margin-bottom: 20px;
    width: 80%;
}

.toggle {
    font-size: 24px;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.show-interval {
    color: white;
    white-space: pre-wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.noselect {
    user-select: none;
}

.label {
    text-align: center;
    white-space: pre;
}

footer {
    font-size: 16px;
    color: grey;
    font-family: Courier, Monaco, monospace;
    margin-top: 40px;
    margin-bottom: 40px;
}

a {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: inherit;
}

a:hover {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    opacity: 0.7;
}

/* loading animation curtesy of https://projects.lukehaas.me/css-loaders/ */

.spinner {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: rgb(255 255 255 / 90%);
    background: linear-gradient(to right, rgb(255 255 255 / 90%) 10%, transparent 42%);
    position: relative;
    animation: load3 1.4s infinite linear;
    transform: translateZ(0);
}

.spinner::before {
    width: 50%;
    height: 50%;
    background: rgb(255 255 255 / 90%);
    border-radius: 100% 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}

.spinner::after {
    background: #010a01;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@keyframes load3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
