/* For Mobile */
@media screen and (max-width: 610px) {
    .label {
        font-size: 16px;
    }

    footer {
        font-size: 10px;
    }
}

/* For Desktop */
@media screen and (min-width: 610px) {
    .label {
        font-size: 20px;
    }

    footer {
        font-size: 14px;
    }
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #444
}

#root {
    min-width: 600;
}

h1 {
    font-size: 2.3em;
    text-align : center;
    color: #333
}

.VContainer {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: vertical;
    justify-content: center;
}

.HContainer {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: horizontal;
    justify-content: center;
}

.results {
    width: 100%;
    box-sizing: border-box;
}

.bar {
    fill: purple;
}

textarea {
    width: 250px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 12px 20px;
    resize: none;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: grey;
    color: white;
    border: 1px solid #444;
    width: 140px;
    padding: 15px 32px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

button:focus {
    outline: 0;
}

.label {
    text-align: center;
    white-space: pre;
}

footer {
    color: grey;
    font-family: Courier, Monaco, monospace;
    margin-top: 25px;
}

a {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: inherit;
}

a:hover {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    opacity: 0.7;
}
