/* For Mobile */
@media screen and (max-width: 610px) {
    .label {
        font-size: 16px;
    }

    footer {
        font-size: 10px;
    }
}

/* For Desktop */
@media screen and (min-width: 610px) {
    .label {
        font-size: 20px;
    }

    footer {
        font-size: 14px;
    }
}

body {
    font-size: 18px;
    font-family: Verdana, sans-serif;
    /* font-family: "Sacramento", sans-serif; */
    background-color: #010a01;
    display: flex;
    justify-content: center;
    align-items: center;
}

.neon {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #8508eb,
        0 0 82px #8508eb,
        0 0 92px #8508eb,
        0 0 102px #8508eb,
        0 0 151px #8508eb;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #8508eb,
        0 0 0.8rem #8508eb,
        0 0 2.8rem #8508eb,
        inset 0 0 1.3rem #8508eb; 
    animation: pulsate 1.5s infinite alternate;
} 

h1, h2 {
    text-align: center;
    font-weight: 400;
}

h1 {
    font-size: 3rem; 
    border: 0.15rem solid #fff;
    border-radius: 2rem;
    padding: 0.8em;
}

@keyframes pulsate {
        
    100% {

        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #8508eb,
        0 0 80px #8508eb,
        0 0 90px #8508eb,
        0 0 100px #8508eb,
        0 0 150px #8508eb;

    }

    0% {

        text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px #8508eb,
        0 0 45px #8508eb,
        0 0 55px #8508eb,
        0 0 70px #8508eb,
        0 0 80px #8508eb;

    }
}

p {
    max-width: 100%;
}

.pcenter {
    text-align: center;
}

.error {
    white-space: pre-wrap;
    color: rgb(233, 44, 44);
}

.vcontainer {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#root.vcontainer {
    max-width: 400px;
    width: 400px;
}

.hcontainer {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

textarea {
    width: 80%;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 12px 20px;
    resize: none;
    font-family: 'Lucida Console', 'Monaco', 'monospace';
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: #010a01;
    color: white;
    opacity: 0.9;
    background: transparent;
}

button {
    background-color: #010a01;
    color: white;
    border: 0.1rem solid;
    width: 120px;
    height: 120px;
    padding: 15px 32px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

button:focus {
    outline: 0;
}

.p {
    background-color: grey;
    color: white;
    border: 1px solid #444;
    width: 15%;
    padding: 15px 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    white-space: pre;
}

.resultCircle {
    position: relative;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 32px;
    background: transparent;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

#p90.resultCircle:before {
    border: 13px solid hsl(189, 87%, 51%);
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(12px);
    z-index:0;
}

#p95.resultCircle:before {
    border: 13px solid hsl(189, 87%, 51%);
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(7px);
    z-index:0;
}

#p99.resultCircle:before {
    border: 13px solid hsl(189, 87%, 51%);
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(4px);
    z-index:0;
}

#p999.resultCircle:before {
    border: 13px solid hsl(189, 87%, 51%);
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(2px);
    z-index:0;
}

.resultCircle span {
    color: white;
    position: relative;
    z-index: 1;
}

#p90, #p95, #p99, #p999 {
    width: 13rem;
    height: 13rem;
}

.togglerow {
    margin-top: 60px;
    margin-bottom: 20px;
    width: 80%
}

.toggle {
    font-size: 24px;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.showInterval {
    color: white;
    white-space: pre-wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.label {
    text-align: center;
    white-space: pre;
}

footer {
    color: grey;
    font-family: Courier, Monaco, monospace;
    margin-top: 40px;
    margin-bottom: 40px;
}

a {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: inherit;
}

a:hover {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    opacity: 0.7;
}

/* Loading bar curtesy of https://loading.io/css/ */

.lds-grid {
    display: inline-block;
    position: relative;
    width: 128px;
    height: 128px;
    margin-top: 330px;
    margin-bottom: 330px;
}

.lds-grid div {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #394C66;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 8px;
    left: 48px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 8px;
    left: 88px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 48px;
    left: 8px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 48px;
    left: 48px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 48px;
    left: 88px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 88px;
    left: 8px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 88px;
    left: 48px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 88px;
    left: 88px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
